@import url('https://fonts.googleapis.com');

* {
    box-sizing: border-box;
}

:root {
    --Primarycolor: #1F299C;
    --Btn-hover: #303AAA;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    display: flex;
    
}



/*Side Navbar css*/

a {
    text-decoration: none;
    border-radius: 50px;
    width: max-content;
}
#side-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: min-content;
    background-color: var(--Primarycolor);
    font-weight: 400;
    font-size: 2rem;
}

.sidenav-btns, h3 {
    height: 5vh;
    font-family: 'Roboto Serif', serif;
    text-align: left;
    border-style: var(--Primarycolor);
    background-color: var(--Primarycolor);
    color: white;
    transition: 0.4s ease;
}

.next {
    color: var(--Primarycolor)
}

a {
    display: flex;
    justify-content: center;
}

.sidenav-btns:hover {
    background-color: var(--Btn-hover);
}


#top-section-1 {
    height: min-content;
}

#side-container {
    display: flex;
    flex-direction: column;
}

#sidenav-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home-link {
    color: white;
}

 /*dropdown buttons*/
.drop-btns {
    background-color: var(--Primarycolor);
    border:none;
    color: white;
    font-size: 2rem
}

/*CSS for main expenses*/
.expenseContainer {
    display: none;
}

.expenseContainer.active {
    display: block;
}

#container {
display: flex;
flex-direction: row;
}



.btn-align {
    display: flex;
    flex-direction: column;
}